/*
Effects:
.amp-bounceIn
.amp-red-color
.amp-yellow-color
.amp-bounceIn
.amp-pulse
.amp-wobble
.amp-shake

*/

/* AMP Player */

#amp-player {
  position: fixed;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/player.png') no-repeat;
  top: 0;
  left: 5%;
  height: 80px;
  width: 316px;
  z-index: 99999999;
}

#amp-play {
  display: block;
  position: absolute;
  top: 14px;
  left: 12px;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/play.png') no-repeat;
  width: 38px;
  height: 38px;
}

#amp-control {
  display: block;
  position: absolute;
  top: 18px;
  left: 87px;
  width: 40px;
  height: 38px;
}

#amp-control.amp-play {
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/play.png') no-repeat;
}

#amp-control.amp-pause {
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/pause.png') no-repeat;
}

#amp-mute {
  display: block;
  position: absolute;
  top: 19px;
  left: 134px;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/mute.png') no-repeat;
  width: 39px;
  height: 38px;
}

#amp-button {
  display: block;
  position: absolute;
  top: 33px;
  left: 183px;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/button.png') no-repeat;
  width: 124px;
  height: 34px;
}

/* Wrapping paper */

.amp-wrapping1 {
  margin: 0;
  padding: 0;
  position: fixed;
  background: transparent url('http://www.cheerify.it/images/wrapping1.png') no-repeat;
  z-index: 100000000;
  height: 100%;
  width: 100%;
  background-size: cover;
  top: 0;
  left: 0;
}

.amp-wrapping2 {
  margin: 0;
  padding: 0;
  position: fixed;
  background: transparent url('http://www.cheerify.it/images/wrapping2.png') no-repeat;
  z-index: 100000001;
  height: 100%;
  width: 100%;
  background-size: cover;
  top: 0;
  left: 0;
}

.amp-wrapping3 {
  margin: 0;
  padding: 0;
  position: fixed;
  background: transparent url('http://www.cheerify.it/images/wrapping3.png') no-repeat;
  z-index: 100000002;
  height: 100%;
  width: 100%;
  background-size: cover;
  top: 0;
  left: 0;
}

.amp-wrapping4 {
  margin: 0;
  padding: 0;
  position: fixed;
  background: transparent url('http://www.cheerify.it/images/wrapping4.png') no-repeat;
  z-index: 100000003;
  height: 100%;
  width: 100%;
  background-size: cover;
  top: 0;
  left: 0;
}

.amp-wrapping_bow {
  margin: 0;
  padding: 0;
  position: fixed;
  background: transparent url('http://www.cheerify.it/images/wrapping_bow.png') no-repeat;
  z-index: 100000004;
  height: 100%;
  width: 100%;
  background-size: cover;
  top: 0;
  left: 0;
}

.amp-wrapping_full {
  margin: 0;
  padding: 0;
  position: fixed;
  background: transparent url('http://www.cheerify.it/images/wrapping_full.png') no-repeat;
  z-index: 100000005;
  height: 100%;
  width: 100%;
  background-size: cover;
  top: 0;
  left: 0;
}

.amp-wrapping_end {
  margin: 0;
  padding: 0;
  position: fixed;
  background: transparent url('http://www.cheerify.it/images/wrappingend.png') no-repeat;
  z-index: 100000006;
  height: 100%;
  width: 100%;
  background-size: cover;
  top: 0;
  left: 0;
}

.amp-wrapping_share-bg {
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/share-bg.png') no-repeat;
  z-index: 1000000010;
  position: fixed;
  bottom: 3%;
  right: 0;
  height: 336px;
  width: 125px;
}

.amp-wrapping_share-fb {
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/share-fb.png') no-repeat;
  z-index: 1000000011;
  position: absolute;
  bottom: 180px;
  right: 29px;
  height: 65px;
  width: 64px;
}

.amp-wrapping_share-twitter {
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/share-twitter.png') no-repeat;
  z-index: 1000000011;
  position: absolute;
  bottom: 100px;
  right: 29px;
  height: 65px;
  width: 64px;
}

.amp-wrapping_share-email {
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/share-email.png') no-repeat;
  z-index: 1000000011;
  position: absolute;
  bottom: 20px;
  right: 29px;
  height: 65px;
  width: 64px;
}

.amp-bell {
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(241,218,54,1)), color-stop(100%,rgba(254,252,234,0))) !important;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(241,218,54,1) 0%,rgba(254,252,234,0) 100%) !important;
  background: -webkit-radial-gradient(center, ellipse, rgba(241,218,54,1) 0%, rgba(254,252,234,0) 100%) !important;
  background: radial-gradient(ellipse at center,  rgba(241,218,54,1) 0%,rgba(254,252,234,0) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#00fefcea',GradientType=1 ) !important;
  -webkit-animation-name: swing !important;
  animation-name: swing !important;
  -webkit-transform-origin: 50% 0% !important;
  transform-origin: 50% 0% !important;
  -webkit-animation-fill-mode: forwards !important;
  animation-fill-mode: forwards !important;
  -webkit-animation: swing linear 1s !important;
  animation: swing linear 1s !important;
  -webkit-animation-iteration-count: 1 !important;
  animation-iteration-count: 1 !important;
}

.amp-snow-body {
  background: #fff url('http://www.cheerify.it/images/bg_day.png') no-repeat !important;
  background-size: contain;
}

.amp-snow {
  background-color: transparent;
  background-image: url('http://www.cheerify.it/images/snowh.png'), url('http://www.cheerify.it/images/snow3q.png'), url('http://www.cheerify.it/images/snow2l.png');
  -webkit-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

#amp-canvas-snow {
  position: fixed;
  z-index: 99999995;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.amp-evergreen-top {
  margin: 0;
  padding: 0;
  position: fixed;
  background: transparent url('http://www.cheerify.it/images/evergreen_top.png') repeat-x;
  background-size: 70%;
  z-index: 99999995;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.amp-lights-top {
  margin: 0;
  padding: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/lights-horiz-off.png') repeat-x;
  z-index: 99999999;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
}

.amp-lights-bottom {
  margin: 0;
  padding: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/lights-horiz-off.png') repeat-x;
  z-index: 99999999;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.amp-lights-left {
  margin: 0;
  padding: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/lights-off.png') repeat-y;
  z-index: 99999999;
  height: 100%;
  width: 100px;
  top: 0;
  left: 0;
}

.amp-lights-right {
  margin: 0;
  padding: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/lights-off.png') repeat-y;
  z-index: 99999999;
  height: 100%;
  width: 100px;
  top: 0;
  right: 0;
}

.amp-lights-right.amp-lights-on,
.amp-lights-left.amp-lights-on {
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/lights-on.png') repeat-y;
}

.amp-lights-top.amp-lights-on,
.amp-lights-bottom.amp-lights-on {
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/lights-horiz-on.png') repeat-x;
}

.amp-lights-right.amp-lights-off,
.amp-lights-left.amp-lights-off {
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/lights-off.png') repeat-y;
}

.amp-lights-top.amp-lights-off,
.amp-lights-bottom.amp-lights-off {
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/lights-horiz-on.png') repeat-x;
}

/* Snow */

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

.amp-snowman-full {
  position: fixed;
  left: 100%;
  bottom: 0px;
  z-index: 9999999;
  height: 543px;
  width: 384px;
}

.snowman-move-in {
  animation: amp-snowman-full ease 4s;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-fill-mode: forwards;
  -webkit-animation: amp-snowman-full ease 4s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-fill-mode: forwards;
  -ms-animation: amp-snowman-full ease 4s;
  -ms-animation-play-state: running;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: both;
  -ms-animation-fill-mode: forwards;
}

@keyframes amp-snowman-full {
  0% {
    left: 100%;
  }

  100% {
    left: 60%;
  }
}

@-webkit-keyframes amp-snowman-full {
  0% {
    left: 100%;
    bottom: 0px;
  }

  100% {
    left: 60%;
  }
}

@-ms-keyframes amp-snowman-full {
  0% {
    left: 100%;
  }

  100% {
    left: 60%;
  }
}

.snowman-move-in.snowman2 {
  animation: amp-snowman-full-two ease 4s;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-fill-mode: forwards;
  -webkit-animation: amp-snowman-full-two ease 4s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-fill-mode: forwards;
  -ms-animation: amp-snowman-full-two ease 4s;
  -ms-animation-play-state: running;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: both;
  -ms-animation-fill-mode: forwards;
}

@keyframes amp-snowman-full-two {
  0% {
    left: 100%;
  }

  100% {
    left: 40%;
  }
}

@-webkit-keyframes amp-snowman-full-two {
  0% {
    left: 100%;
    bottom: 0px;
  }

  100% {
    left: 40%;
  }
}

@-ms-keyframes amp-snowman-full-two {
  0% {
    left: 100%;
  }

  100% {
    left: 40%;
  }
}

.snowman-move-in.snowman3 {
  animation: amp-snowman-full-three ease 4s;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-fill-mode: forwards;
  -webkit-animation: amp-snowman-full-three ease 4s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-fill-mode: forwards;
  -ms-animation: amp-snowman-full-three ease 4s;
  -ms-animation-play-state: running;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: both;
  -ms-animation-fill-mode: forwards;
}

@keyframes amp-snowman-full-three {
  0% {
    left: 100%;
  }

  100% {
    left: 20%;
  }
}

@-webkit-keyframes amp-snowman-full-three {
  0% {
    left: 100%;
    bottom: 0px;
  }

  100% {
    left: 20%;
  }
}

@-ms-keyframes amp-snowman-full-three {
  0% {
    left: 100%;
  }

  100% {
    left: 20%;
  }
}

.snowman-move-in.snowman4 {
  animation: amp-snowman-full-four ease 4s;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-fill-mode: forwards;
  -webkit-animation: amp-snowman-full-four ease 4s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-fill-mode: forwards;
  -ms-animation: amp-snowman-full-four ease 4s;
  -ms-animation-play-state: running;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: both;
  -ms-animation-fill-mode: forwards;
}

@keyframes amp-snowman-full-four {
  0% {
    left: 100%;
  }

  100% {
    left: 80%;
  }
}

@-webkit-keyframes amp-snowman-full-four {
  0% {
    left: 100%;
    bottom: 0px;
  }

  100% {
    left: 80%;
  }
}

@-ms-keyframes amp-snowman-full-four {
  0% {
    left: 100%;
  }

  100% {
    left: 80%;
  }
}

.snowman-move-in.snowman5 {
  animation: amp-snowman-full-five ease 4s;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-fill-mode: forwards;
  -webkit-animation: amp-snowman-full-five ease 4s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-fill-mode: forwards;
  -ms-animation: amp-snowman-full-five ease 4s;
  -ms-animation-play-state: running;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: both;
  -ms-animation-fill-mode: forwards;
}

@keyframes amp-snowman-full-five {
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

@-webkit-keyframes amp-snowman-full-five {
  0% {
    left: 100%;
    bottom: 0px;
  }

  100% {
    left: 0%;
  }
}

@-ms-keyframes amp-snowman-full-five {
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

.amp-snowman-bottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 300;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/snowman_bottom.png') no-repeat;
  height: 253px;
  width: 282px;
}

.amp-snowman-middle {
  position: absolute;
  left: 30px;
  bottom: 0px;
  z-index: 400;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/snowman_middle.png') no-repeat;
  height: 350px;
  width: 216px;
}

.amp-snowman-middle-move {
  -webkit-animation: smMiddleFrames linear .5s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 20;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smMiddleFrames linear .5s;
  animation-play-state: running;
  animation-iteration-count: 20;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smMiddleFrames {
  0% {
    bottom: 0px;
  }

  25% {
    bottom: -10px;
  }

  50% {
    bottom: 0px;
  }

  75% {
    bottom: 10px;
  }

  100% {
    bottom: 0px;
  }
}

@keyframes smMiddleFrames {
  0% {
    bottom: 0px;
  }

  25% {
    bottom: -10px;
  }

  50% {
    bottom: 0px;
  }

  75% {
    bottom: 10px;
  }

  100% {
    bottom: 0px;
  }
}

.amp-snowman-middle-move2 {
  -webkit-animation: smMiddleFrames2 linear .5s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smMiddleFrames2 linear .5s;
  animation-play-state: running;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smMiddleFrames2 {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(21deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smMiddleFrames2 {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(21deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(21deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-middle-move3 {
  -webkit-animation: smMiddleFrames3 linear .35s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smMiddleFrames3 linear .35s;
  animation-play-state: running;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smMiddleFrames3 {
  0% {
    -webkit-transform: rotate(21deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smMiddleFrames3 {
  0% {
    -webkit-transform: rotate(21deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(21deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-head {
  position: absolute;
  left: 15px;
  bottom: 240px;
  z-index: 900;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/snowman_head.png') no-repeat;
  height: 225px;
  width: 175px;
}

.amp-snowman-head-move {
  -webkit-animation: smHeadFrames linear .5s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 20;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smHeadFrames linear .5s;
  animation-play-state: running;
  animation-iteration-count: 20;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smHeadFrames {
  0% {
    left: 15px;
  }

  25% {
    left: 10px;
  }

  50% {
    left: 15px;
  }

  75% {
    left: 20px;
  }

  100% {
    left: 15px;
  }
}

@keyframes smHeadFrames {
  0% {
    left: 15px;
  }

  25% {
    left: 10px;
  }

  50% {
    left: 15px;
  }

  75% {
    left: 20px;
  }

  100% {
    left: 15px;
  }
}

.amp-snowman-head-move2 {
  -webkit-animation: smHeadFrames2 linear .5s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  -animation: smHeadFrames2 linear .5s;
  -animation-play-state: running;
  -animation-iteration-count: 1;
  -transform-origin: 50% 50%;
  -animation-fill-mode: forwards;
}

@-webkit-keyframes smHeadFrames2 {
  0% {
    left: 15px;
    bottom: 240px;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: 25px;
    bottom: 220px;
    -webkit-transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smHeadFrames2 {
  0% {
    left: 15px;
    bottom: 240px;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: 25px;
    bottom: 220px;
    -webkit-transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-head-move3 {
  -webkit-animation: smHeadFrames3 linear .35s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smHeadFrames3 linear .35s;
  animation-play-state: running;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smHeadFrames3 {
  0% {
    left: 25px;
    bottom: 220px;
    -webkit-transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: 15px;
    bottom: 240px;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smHeadFrames3 {
  0% {
    left: 25px;
    bottom: 220px;
    -webkit-transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: 15px;
    bottom: 240px;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-hat {
  position: absolute;
  left: 40px;
  bottom: 170px;
  z-index: 900;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/snowman_hat.png') no-repeat;
  height: 105px;
  width: 139px;
}

.amp-snowman-hat-move {
  -webkit-animation: smHatFrames linear 1s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smHatFrames linear 1s;
  animation-play-state: running;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smHatFrames {
  0% {
    left: 40px;
    bottom: 170px;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: 210px;
    bottom: 70px;
    -webkit-transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smHatFrames {
  0% {
    left: 40px;
    bottom: 170px;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: 210px;
    bottom: 70px;
    -webkit-transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-hat-move2 {
  -webkit-animation: smHatFrames2 linear 1s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smHatFrames2 linear 1s;
  animation-play-state: running;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smHatFrames2 {
  0% {
    left: 210px;
    bottom: 70px;
    -webkit-transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  50% {
    left: 10px;
    bottom: 250px;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: -180px;
    bottom: -20px;
    -webkit-transform: rotate(-60deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smHatFrames2 {
  0% {
    left: 210px;
    bottom: 70px;
    -webkit-transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(25deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  50% {
    left: 10px;
    bottom: 250px;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: -180px;
    bottom: -20px;
    -webkit-transform: rotate(-60deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(-60deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-hat-move3 {
  -webkit-animation: smHatFrames3 linear .5s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smHatFrames3 linear .5s;
  animation-play-state: running;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smHatFrames3 {
  0% {
    left: -180px;
    bottom: -20px;
    -webkit-transform: rotate(-60deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: -180px;
    bottom: -20px;
    -webkit-transform: rotate(330deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smHatFrames3 {
  0% {
    left: -180px;
    bottom: -20px;
    -webkit-transform: rotate(-60deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(-60deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: -180px;
    bottom: -20px;
    -webkit-transform: rotate(330deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(330deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-hat-move4 {
  -webkit-animation: smHatFrames4 linear .5s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smHatFrames4 linear .5s;
  animation-play-state: running;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smHatFrames4 {
  0% {
    left: -180px;
    bottom: -20px;
    -webkit-transform: rotate(330deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  50% {
    left: -50px;
    bottom: 280px;
    -webkit-transform: rotate(165deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: 40px;
    bottom: 170px;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smHatFrames4 {
  0% {
    left: -180px;
    bottom: -20px;
    -webkit-transform: rotate(330deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(330deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  50% {
    left: -50px;
    bottom: 280px;
    -webkit-transform: rotate(165deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(165deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    left: 40px;
    bottom: 170px;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-leftarm {
  position: absolute;
  left: -105px;
  top: 80px;
  z-index: 500;
  background: transparent url('http://www.cheerify.it/images/snowman_leftarm.png') no-repeat;
  height: 23px;
  width: 121px;
}

.amp-snowman-leftarm-move {
  -webkit-animation: smLArmFrames linear .75s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 2;
  -webkit-transform-origin: 100% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smLArmFrames linear .75s;
  animation-play-state: running;
  animation-iteration-count: 2;
  transform-origin: 100% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smLArmFrames {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  25% {
    -webkit-transform: rotate(30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  50% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  75% {
    -webkit-transform: rotate(-30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smLArmFrames {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  25% {
    -webkit-transform: rotate(30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  50% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  75% {
    -webkit-transform: rotate(-30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(-30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-leftarm-move2 {
  -webkit-animation: smLArmFrames2 linear .25s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smLArmFrames2 linear .25s;
  animation-play-state: running;
  animation-iteration-count: 1;
  transform-origin: 100% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smLArmFrames2 {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(50deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smLArmFrames2 {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(50deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(50deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-rightarm {
  position: absolute;
  left: 200px;
  top: 80px;
  z-index: 500;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/snowman_rightarm.png') no-repeat;
  height: 23px;
  width: 121px;
}

.amp-snowman-rightarm-move {
  -webkit-animation: smRArmFrames linear .75s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 2;
  -webkit-transform-origin: 0% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smRArmFrames linear .75s;
  animation-play-state: running;
  animation-iteration-count: 2;
  transform-origin: 0% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smRArmFrames {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  25% {
    -webkit-transform: rotate(-30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  50% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  75% {
    -webkit-transform: rotate(30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smRArmFrames {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  25% {
    -webkit-transform: rotate(-30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(-30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  50% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  75% {
    -webkit-transform: rotate(30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(30deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-rightarm-move2 {
  -webkit-animation: smRArmFrames2 linear 1s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smRArmFrames2 linear 1s;
  animation-play-state: running;
  animation-iteration-count: 1;
  transform-origin: 0% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smRArmFrames2 {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  50% {
    -webkit-transform: rotate(-50deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smRArmFrames2 {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  50% {
    -webkit-transform: rotate(-50deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-rightarm-move3 {
  -webkit-animation: smRArmFrames3 linear .35s;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0% 50%;
  -webkit-animation-fill-mode: forwards;
  animation: smRArmFrames3 linear .35s;
  animation-play-state: running;
  animation-iteration-count: 1;
  transform-origin: 0% 50%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes smRArmFrames3 {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(-50deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

@keyframes smRArmFrames3 {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }

  100% {
    -webkit-transform: rotate(-50deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: rotate(-50deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
  }
}

.amp-snowman-leave {
  -webkit-animation: snowman-leave ease-out .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation: snowman-leave ease-out .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@-webkit-keyframes snowman-leave {
  0% {
    left: 60%;
    -webkit-transform: rotate(0deg) scaleX(1);
  }

  100% {
    top: 120%;
    -webkit-transform: rotate(94deg) scaleX(1);
  }
}

@keyframes snowman-leave {
  0% {
    left: 60%;
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
  }

  100% {
    top: 120%;
    -webkit-transform: rotate(94deg) scaleX(1);
    transform: rotate(94deg) scaleX(1);
  }
}

.amp-site-spin {
  -webkit-animation: site-spin ease-out 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes site-spin {
  0%, 100% {
    -webkit-transform: rotateY(0deg);
  }

  50% {
    -webkit-transform: rotateY(180deg);
  }
}

.amp-ornament6,
.amp-ornament7,
.amp-ornament8,
.amp-ornament9 {
  position: fixed;
  z-index: 4000000;
  left: 48%;
  top: 0px;
  animation: amp-ornament-drop ease-out 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: 50% 0%;
  -webkit-animation: amp-ornament-drop ease-out 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform-origin: 50% 0%;
  -ms-animation: amp-ornament-drop ease-out 1s;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
}

.amp-ornament1,
.amp-ornament2,
.amp-ornament3,
.amp-ornament4,
.amp-ornament5 {
  position: fixed;
  z-index: 4000000;
  left: 48%;
  top: -50px;
  animation: amp-ornament-drop-short ease-out 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: 50% 0%;
  -webkit-animation: amp-ornament-drop-short ease-out 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform-origin: 50% 0%;
  -ms-animation: amp-ornament-drop-short ease-out 1s;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
}

.amp-ornament1 {
  background: transparent url('http://www.cheerify.it/images/ornament1.png') no-repeat;
  height: 188px;
  width: 63px;
}

.amp-ornament2 {
  background: transparent url('http://www.cheerify.it/images/ornament2.png') no-repeat;
  height: 188px;
  width: 65px;
}

.amp-ornament3 {
  background: transparent url('http://www.cheerify.it/images/ornament3.png') no-repeat;
  height: 188px;
  width: 63px;
}

.amp-ornament4 {
  background: transparent url('http://www.cheerify.it/images/ornament4.png') no-repeat;
  height: 188px;
  width: 63px;
}

.amp-ornament5 {
  background: transparent url('http://www.cheerify.it/images/ornament5.png') no-repeat;
  height: 188px;
  width: 63px;
}

.amp-ornament6 {
  background: transparent url('http://www.cheerify.it/images/ornament6.png') no-repeat;
  height: 254px;
  width: 98px;
}

.amp-ornament7 {
  background: transparent url('http://www.cheerify.it/images/ornament7.png') no-repeat;
  height: 295px;
  width: 117px;
}

.amp-ornament8 {
  background: transparent url('http://www.cheerify.it/images/ornament8.png') no-repeat;
  height: 258px;
  width: 101px;
}

.amp-ornament9 {
  background: transparent url('http://www.cheerify.it/images/ornament9.png') no-repeat;
  height: 295px;
  width: 116px;
}

@keyframes amp-ornament-drop {
  0% {
    top: -300px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 0px;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0px;
  }
}

@-webkit-keyframes amp-ornament-drop {
  0% {
    top: -300px;
    -webkit-transform: rotate(-20deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
    top: 0px;
  }

  100% {
    -webkit-transform: rotate(0deg);
    top: 0px;
  }
}

@-ms-keyframes amp-ornament-drop {
  0% {
    top: -300px;
    -ms-transform: rotate(-20deg);
  }

  50% {
    -ms-transform: rotate(10deg);
    top: 0px;
  }

  100% {
    -ms-transform: rotate(0deg);
    top: 0px;
  }
}

/* */

@keyframes amp-ornament-drop-short {
  0% {
    top: -300px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -50px;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -50px;
  }
}

@-webkit-keyframes amp-ornament-drop-short {
  0% {
    top: -300px;
    -webkit-transform: rotate(-20deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
    top: -50px;
  }

  100% {
    -webkit-transform: rotate(0deg);
    top: -50px;
  }
}

@-ms-keyframes amp-ornament-drop-short {
  0% {
    top: -300px;
    -ms-transform: rotate(-20deg);
  }

  50% {
    -ms-transform: rotate(10deg);
    top: -50px;
  }

  100% {
    -ms-transform: rotate(0deg);
    top: -50px;
  }
}

.amp-ornament-up {
  position: fixed;
  z-index: 4000000;
  top: -300px;
  animation: amp-ornament-up ease-out .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation: amp-ornament-up ease-out .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-animation: amp-ornament-up ease-out .5s;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
}

@keyframes amp-ornament-up {
  0% {
    top: 0px;
  }

  100% {
    top: -300px;
  }
}

@-webkit-keyframes amp-ornament-up {
  0% {
    top: 0px;
  }

  100% {
    top: -300px;
  }
}

@-ms-keyframes amp-ornament-up {
  0% {
    top: 0px;
  }

  100% {
    top: -300px;
  }
}

.amp-wrecking-ball-right {
  position: fixed;
  top: -10px;
  right: 0px;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/wreackingball.png') no-repeat !important;
  width: 802px;
  height: 547px;
  z-index: 9999;
  transform: rotate(95deg);
  -webkit-transform: rotate(95deg);
  animation: wrecking-ball-right ease-in 2s;
  animation-iteration-count: 1;
  transform-origin: 100% 0%;
  animation-fill-mode: forwards;
  -webkit-animation: wrecking-ball-right ease-in 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 0%;
  -webkit-animation-fill-mode: forwards;
}

@keyframes wrecking-ball-right {
  0% {
    -webkit-transform: rotate(95deg);
    transform: rotate(95deg);
  }

  100% {
    -webkit-transform: rotate(-95deg);
    transform: rotate(-95deg);
  }
}

@-webkit-keyframes wrecking-ball-right {
  0% {
    -webkit-transform: rotate(95deg);
  }

  100% {
    -webkit-transform: rotate(-95deg);
  }
}

.amp-wrecking-ball-left {
  position: fixed;
  top: -10px;
  left: -802px;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/wreackingball.png') no-repeat !important;
  width: 802px;
  height: 547px;
  z-index: 9999;
  transform: rotate(-95deg);
  -webkit-transform: rotate(-95deg);
  animation: wrecking-ball-left ease-in 2s;
  animation-iteration-count: 1;
  transform-origin: 0% 0%;
  animation-fill-mode: forwards;
  -webkit-animation: wrecking-ball-left ease-in 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 0%;
  -webkit-animation-fill-mode: forwards;
}

@keyframes wrecking-ball-left {
  0% {
    -webkit-transform: rotate(-95deg) scaleX(-1);
    transform: rotate(-95deg) scaleX(-1);
  }

  100% {
    -webkit-transform: rotate(95deg) scaleX(-1);
    transform: rotate(95deg) scaleX(-1);
  }
}

@-webkit-keyframes wrecking-ball-left {
  0% {
    -webkit-transform: rotate(-95deg) scaleX(-1);
  }

  100% {
    -webkit-transform: rotate(95deg) scaleX(-1);
  }
}

.amp-wrecking-ball-snowman {
  position: fixed;
  top: -10px;
  left: -20%;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/snwoman_wreckingball.png') no-repeat !important;
  width: 802px;
  height: 547px;
  z-index: 9999;
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  animation: wrecking-ball-snowman ease-in 2s;
  animation-iteration-count: 1;
  transform-origin: 0% 0%;
  animation-fill-mode: forwards;
  -webkit-animation: wrecking-ball-snowman ease-in 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 0%;
  -webkit-animation-fill-mode: forwards;
}

@keyframes wrecking-ball-snowman {
  0% {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    left: -20%;
  }

  100% {
    -webkit-transform: rotate(-80deg);
    transform: rotate(-80deg);
    left: 120%;
  }
}

@-webkit-keyframes wrecking-ball-snowman {
  0% {
    -webkit-transform: rotate(-40deg);
    left: -20%;
  }

  100% {
    -webkit-transform: rotate(-80deg);
    left: 120%;
  }
}

.amp-border {
  margin: -40px;
  border: 40px solid #fff;
  border-image: url('http://www.cheerify.it/images/lights_a.png') 40 40 40 40 round !important;
}

.amp-border-alt {
  margin: -40px;
  border: 40px solid #fff;
  border-image: url('http://www.cheerify.it/images/lights_b.png') 40 40 40 40 round !important;
}

.amp-skew {
  -webkit-perspective: 800px !important;
  -webkit-perspective-origin-x: 50% !important;
  -webkit-perspective-origin-y: 100% !important;
}

.amp-skew > div:not(#amp-player) {
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
  -webkit-transform: translateY(-39%) rotateX(14deg) !important;
}

.amp-skier {
  position: absolute;
  left: 45%;
  top: -10%;
  z-index: 300;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/skier.png') no-repeat;
  height: 68px;
  width: 40px;
  -webkit-animation: amp-skier ease-in 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 0%;
  animation: amp-skier ease-in 5s;
  animation-iteration-count: 1;
  transform-origin: 100% 0%;
}

@-webkit-keyframes amp-skier {
  0% {
    top: -10%;
  }

  11%, 31%, 51%, 71%, 91% {
    -webkit-transform: scaleX(-1);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: scaleX(1);
    left: 55%;
  }

  21%, 41%, 61%, 81% {
    -webkit-transform: scaleX(1);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: scaleX(-1);
    left: 45%;
  }

  99% {
    -webkit-transform: scaleX(-1);
  }

  100% {
    top: 80%;
  }
}

@keyframes amp-skier {
  0% {
    top: -10%;
  }

  11%, 31%, 51%, 71%, 91% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    left: 55%;
  }

  21%, 41%, 61%, 81% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 45%;
  }

  99% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  100% {
    top: 80%;
  }
}

.amp-monster {
  position: absolute;
  left: -10%;
  top: 0px;
  z-index: 300;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/monster.png') no-repeat;
  height: 105px;
  width: 76px;
  -webkit-animation: amp-monster ease-in 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 0%;
  -webkit-animation-fill-mode: forwards;
  animation: amp-monster ease-in 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  transform-origin: 100% 0%;
  animation-fill-mode: forwards;
}

@-webkit-keyframes amp-monster {
  0% {
    left: -10%;
    top: 0px;
  }

  100% {
    left: 45%;
    top: 80%;
  }
}

@keyframes amp-monster {
  0% {
    left: -10%;
    top: 0px;
  }

  100% {
    left: 45%;
    top: 80%;
  }
}

.amp-mountain-body > *:not(#amp-player):not(.amp-mountain):not(.amp-skier):not(.amp-monster) {
  -webkit-animation: fade-out ease-in 1s;
  -webkit-animation-fill-mode: forwards;
  animation: fade-out ease-in 1s;
  animation-fill-mode: forwards;
}

.amp-mountain-body > div.amp-mountain {
  -webkit-animation: fade-in ease-in 1s;
  -webkit-animation-fill-mode: forwards;
  animation: fade-in ease-in 1s;
  animation-fill-mode: forwards;
  margin: 0 auto;
  display: block;
  width: 986px;
  height: 1123px;
  background: rgba(0, 0, 0, 0) url('http://www.cheerify.it/images/mountain.png') !important;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.amp-finish {
  -webkit-animation: fade-in ease-in 1s;
  -webkit-animation-fill-mode: forwards;
  animation: fade-in ease-in 1s;
  animation-fill-mode: forwards;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 99999999;
}

.amp-finish img {
  display: block;
  margin: 100px auto;
  text-align: center;
}

.amp-night {
  background: #fff url('http://www.cheerify.it/images/night_snow.jpg') no-repeat !important;
  background-size: contain !important;
}

.amp-blackout {
  background: #000 !important;
}

.amp-blackout-all * {
  display: none !important;
}

.amp-blackout-all {
  background: #000 !important;
}

.amp-3d {
  font-family: Garamond, serif;
  line-height: 1em;
  color: #fff9d6;
  font-weight: bold;
  text-shadow: 0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187),4px 4px 0 rgb(173,173,173),5px 5px 0 rgb(158,158,158), 6px 6px 0 rgb(144,144,144),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}